
**/node_modules  
**/dist
.turbo

**/*.env*
!.env.example

**/generated*

# Vitest
**/coverage

# Playwright
**/test-results/
**/test-reports/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/playwright/.auth/